@use "../abstracts" as *;

.flex-group {
  display: flex;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  // width: fit-content;
  justify-content: center;
}

.flex-group.mx-auto {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-align-left {
  align-items: flex-start;
}
