@use "../abstracts" as *;

.link {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5em 2em;
  transition: 275ms ease;
  border: 0;
  font-family: $ff-base;

  &__initial {
    background-color: clr(neutral, 100);
    border: 1px solid clr(primary, 200);
    border-radius: size(20);
    font-size: size(16);
    font-weight: $fw-400;
    line-height: 1;

    &:is(:hover, :focus) {
      border: 1px solid clr(primary, 300);
      color: clr(primary, 300);
      filter: drop-shadow(0px 0px 9px clr(primary, 400));
    }
  }

  &__primary {
    padding: size(26) size(100);
    background-color: clr(primary, 200);
    border: 1px solid clr(primary, 200);
    border-radius: size(40);
    color: clr(neutral, 100);
    font-size: size(20);
    font-weight: $fw-700;
    line-height: 30px;

    &:is(:hover, :focus) {
      border: 1px solid clr(primary, 100);
      background-color: clr(primary, 100);
    }
  }
}
