$colors: (
  neutral: (
    900: #000000,
    700: #00252e,
    500: #808e9a,
    400: #5c5c5c,
    300: #f5faff55,
    200: #f8f8f8,
    100: #ffffff,
  ),
  primary: (
    700: #f6fbff,
    600: #ff424266,
    500: #ff8fd816,
    400: #ff52c138,
    300: #ff52bf,
    200: #ff52c1,
    100: #ff8ed7,
  ),
);
