$sizes: (
  8: 0.5rem,
  12: 0.75rem,
  14: 0.875rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  26: 1.625rem,
  32: 2rem,
  36: 2.25rem,
  40: 2.5rem,
  42: 2.625rem,
  48: 3rem,
  78: 4.875rem,
  80: 5rem,
  96: 6rem,
  100: 6.25rem,
  120: 7.5rem,
  133: 8.3125rem,
  225: 14.0625rem,
  340: 21.25rem,
);

$hero-padding: clamp(15rem, 15vh, 20rem);
$section-padding: clamp(3rem, 10vh, 7rem);

$card-body-padding: clamp(2rem, 2.5vw, 5rem);

$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-inline-padding: 1rem;
$container-max-width: 60rem;
$container-max-width-wide: 75rem;

$flow-spacer: 7.5rem;
